<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jotime.web.mapper.message.SysMessageReceiveMapper">
    
    <resultMap type="SysMessageReceive" id="SysMessageReceiveResult">
        <result property="id"    column="id"    />
        <result property="sendId"    column="send_id"    />
        <result property="messageId"    column="message_id"    />
        <result property="receiveId"    column="receive_id"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysMessageReceiveVo">
        select id, send_id, message_id, receive_id, status, create_by, create_time, update_by, update_time from sys_message_receive
    </sql>

    <select id="selectSysMessageReceiveList" parameterType="SysMessageReceive" resultMap="SysMessageReceiveResult">
        <include refid="selectSysMessageReceiveVo"/>
        <where>  
            <if test="sendId != null "> and send_id = #{sendId}</if>
            <if test="messageId != null "> and message_id = #{messageId}</if>
            <if test="receiveId != null "> and receive_id = #{receiveId}</if>
            <if test="status != null "> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysMessageReceiveById" parameterType="Long" resultMap="SysMessageReceiveResult">
        <include refid="selectSysMessageReceiveVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysMessageReceive" parameterType="SysMessageReceive" useGeneratedKeys="true" keyProperty="id">
        insert into sys_message_receive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sendId != null">send_id,</if>
            <if test="messageId != null">message_id,</if>
            <if test="receiveId != null">receive_id,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sendId != null">#{sendId},</if>
            <if test="messageId != null">#{messageId},</if>
            <if test="receiveId != null">#{receiveId},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysMessageReceive" parameterType="SysMessageReceive">
        update sys_message_receive
        <trim prefix="SET" suffixOverrides=",">
            <if test="sendId != null">send_id = #{sendId},</if>
            <if test="messageId != null">message_id = #{messageId},</if>
            <if test="receiveId != null">receive_id = #{receiveId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysMessageReceiveById" parameterType="Long">
        delete from sys_message_receive where id = #{id}
    </delete>

    <delete id="deleteSysMessageReceiveByIds" parameterType="String">
        delete from sys_message_receive where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>