<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jotime.web.mapper.base.BaseCategorydtlMapper">
    
    <resultMap type="BaseCategorydtl" id="BaseCategorydtlResult">
        <result property="id"    column="id"    />
        <result property="categoryCode"    column="category_code"    />
        <result property="categoryValue"    column="category_value"    />
        <result property="categoryLable"    column="category_lable"    />
        <result property="categorySort"    column="category_sort"    />
        <result property="status"    column="status"    />
        <result property="note"    column="note"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBaseCategorydtlVo">
        select id, category_code, category_value, category_lable, category_sort, status, note, create_by, create_time, update_by, update_time from base_categorydtl
    </sql>

    <select id="selectBaseCategorydtlList" parameterType="BaseCategorydtl" resultMap="BaseCategorydtlResult">
        <include refid="selectBaseCategorydtlVo"/>
        <where>  
            <if test="categoryCode != null  and categoryCode != ''"> and category_code = #{categoryCode}</if>
            <if test="categoryValue != null  and categoryValue != ''"> and category_value = #{categoryValue}</if>
            <if test="categoryLable != null  and categoryLable != ''"> and category_lable = #{categoryLable}</if>
            <if test="categorySort != null "> and category_sort = #{categorySort}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
        </where>
    </select>
    
    <select id="selectBaseCategorydtlById" parameterType="Long" resultMap="BaseCategorydtlResult">
        <include refid="selectBaseCategorydtlVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertBaseCategorydtl" parameterType="BaseCategorydtl" useGeneratedKeys="true" keyProperty="id">
        insert into base_categorydtl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null and categoryCode != ''">category_code,</if>
            <if test="categoryValue != null and categoryValue != ''">category_value,</if>
            <if test="categoryLable != null and categoryLable != ''">category_lable,</if>
            <if test="categorySort != null">category_sort,</if>
            <if test="status != null">status,</if>
            <if test="note != null">note,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryCode != null and categoryCode != ''">#{categoryCode},</if>
            <if test="categoryValue != null and categoryValue != ''">#{categoryValue},</if>
            <if test="categoryLable != null and categoryLable != ''">#{categoryLable},</if>
            <if test="categorySort != null">#{categorySort},</if>
            <if test="status != null">#{status},</if>
            <if test="note != null">#{note},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateBaseCategorydtl" parameterType="BaseCategorydtl">
        update base_categorydtl
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryCode != null and categoryCode != ''">category_code = #{categoryCode},</if>
            <if test="categoryValue != null and categoryValue != ''">category_value = #{categoryValue},</if>
            <if test="categoryLable != null and categoryLable != ''">category_lable = #{categoryLable},</if>
            <if test="categorySort != null">category_sort = #{categorySort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="note != null">note = #{note},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteBaseCategorydtlById" parameterType="Long">
        delete from base_categorydtl where id = #{id}
    </delete>

    <delete id="deleteBaseCategorydtlByIds" parameterType="String">
        delete from base_categorydtl where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>